/**
 * 基础样式
 */
html, body, #app, .tabbar-container {
	height: 100%;
}

body {
  color: #333;
  background-color: #f5f7f9;
}

* {
  box-sizing: border-box;
}

.page-navbar {
  background-color: #3196fa;
  .van-nav-bar__title, .van-icon, .van-nav-bar__text {
    color: #fff;
  }
}

.page-container {
  padding: 46px 12px 50px;
  background: #fff;
  font-size: 14px;
}

.fixed-tabs {
  padding-top: 44px;
  .van-tabs__wrap {
    position: fixed;
    top: 46px;
    right: 0;
    left: 0;
    z-index: 2;
  }
}

.van-button--default {
  color: #666;
}
